body,
html {
    font-family: arial, sans-serif;
    font-size: 11pt;
}

.vis-item.vis-background.negative {
    background-color: rgba(255, 0, 0, 0.2);
}

.vis-item.vis-background.positive {
    background-color: rgba(105, 255, 98, 0.2);
}

.vis-item.vis-background.marker {
    border-left: 2px solid green;
}

table {
    border: 1px solid gray;
}

td {
    text-align: center;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
