body,
html {
    font-family: arial, sans-serif;
    font-size: 11pt;
}


table {
    border: 1px solid gray;
}

td {
    text-align: center;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* ERAS */

.vis-item.vis-background.era_rep {
    background-color: rgba(255, 0, 0, 0.2);
}

.vis-item.vis-background.era_empire {
    background-color: rgba(0, 255, 0, 0.2);
}

.vis-item.vis-background.era_new_rep {
    background-color: rgba(0, 0, 255, 0.2);
}

/* characters */

.vis-item.vis-range.born-alive {
    background: linear-gradient(90deg, rgba(87,227,255,1) 0%, rgba(87,227,255,1) 75%, rgba(255,255,255,0) 100%);
}
.vis-item.vis-range.born-dead {
    background: rgb(0, 212, 255);
}
.vis-item.vis-range.nborn-alive {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(87,227,255,1) 25%, rgba(87,227,255,1) 75%, rgba(255,255,255,0) 100%);
}
.vis-item.vis-range.nborn-dead {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(87,227,255,1) 25%);
}
